<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M65ZGKLM');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Login with google to continue">

    <!-- Open Graph tags -->
	<meta property="og:title" content="MarkitMaps" />
	<meta property="og:description" content="Find ðŸŒ places, ðŸš¶ routes, and ðŸ’Ž local gems instantly with MarkitMaps - Your ultimate travel companion" />
	<meta property="og:image" content="https://res.cloudinary.com/dd9trxmnc/image/upload/v1738675981/MarkitMaps/qcasz6ng9kkbqu55hzre.png" />
	<meta property="og:url" content="https://www.markitmaps.com" />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="en_US" />

	<!-- Twitter Card tags -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="MarkitMaps" />
	<meta name="twitter:description" content="Find ðŸŒ places, ðŸš¶ routes, and ðŸ’Ž local gems instantly with MarkitMaps - Your ultimate travel companion" />
	<meta name="twitter:image" content="https://res.cloudinary.com/dd9trxmnc/image/upload/v1738675981/MarkitMaps/qcasz6ng9kkbqu55hzre.png" />
	<meta name="twitter:url" content="https://www.markitmaps.com" />

    <title>MarkitMaps</title>
    <link rel="icon" href="/images/favicon.ico">

    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/login.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&family=Raleway:wght@800&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M65ZGKLM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
     
    <section class="prompt">
        <img src="/images/logo.png" alt="Logo">
        <h1>To continue you need an account</h1>
        <a class="button google" href="/login/federated/google">Continue with Google</a>
    </section>
</body>
</html>