<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Our Privacy Policy is available <a href="https://docs.google.com/document/d/1rgqfc59e6I1YYu9D_bPazCEmXl5q9xuG0yLnbvnyFAY/edit?usp=sharing">here</a></p>
</body>
</html>